export PYTHONPATH=$(pwd)/src
export LD_LIBRARY_PATH=/usr/lib/R/lib
export GRB_LICENSE_FILE=$HOME/gurobi_license/gurobi.lic
export MOSEKLM_LICENSE_FILE=$HOME/mosek/mosek.lic
export SERVER_JL_PORT=8080
export SERVER_PY_PORT=8000
export SERVER_RAY_PORT=6379