export PYTHONPATH=$(pwd)/src
export LD_LIBRARY_PATH=/usr/lib/R/lib
export GRB_LICENSE_FILE=$HOME/gurobi_license/gurobi.lic
export MOSEKLM_LICENSE_FILE=$HOME/mosek/mosek.lic
export SERVER_JL_PORT=8080
export SERVER_PY_PORT=8000
export SERVER_RAY_PORT=6380
export SERVER_RAY_DASHBOARD_PORT=8265
export HEAD_HOST=10.192.189.51
export SERVER_RAY_CPUS=15
export SERVER_RAY_GPUS=1